extends layout.pug

append styles
    link(rel="stylesheet", href="/styles/slideshow.css")
    link(rel="stylesheet", href="/styles/portfolio.css")
    link(rel="stylesheet", href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css')
    //-link(rel="stylesheet", href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css')
prepend scripts
    //-script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js')
    script!= "const portfolio = " + JSON.stringify(portfolio)
    script!= "const slides = " + JSON.stringify(slides)
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js')
    script(src='/scripts/slideshow.js')
    script(src="/scripts/portfolio.js")
    script(src="/scripts/map.js")

block content
    section#mapSide.box-shadow(onload="")
        header#titleBar
            ul.nav.box-shadow
                li
                    h1#vetName= portfolio.Name 
                /// Try to add next sprint
                a.nav-item(href="/")
                    p.nav-content Roll of Honour
                a.nav-item(href="")
                    p.nav-content AIF Profile
                a.nav-item(href="") 
                    p.nav-content Newspaper Obituary

        div#portfolioComponent.box-shadow
            img#profileImage.box-shadow(src=portfolio.ProfilePic)
            #information
                h4= "Date of Birth: "
                h4#data= portfolio.DOB.getDate() + "-" + (portfolio.DOB.getMonth() + 1) + "-" + portfolio.DOB.getFullYear()
                h4= "Place of Birth: "
                h4#data= portfolio.PlaceOB
                h4= "Date of Death: "
                h4#data= portfolio.DOD.getDate() + "-" + (portfolio.DOD.getMonth() + 1) + "-" + portfolio.DOD.getFullYear()
                h4= "Regiment: "
                h4#data= portfolio.Regiment
                h4= "Battalion: "
                h4#data= portfolio.Battalion

        div#mapComponent.box-shadow
            div#map.box-shadow

            div#timeline
                h3#mapFootnote Sample Text

                div#text
                    h3#textBox(name="text" type="text" value="")
                input#slider(name="timeline" type="range" min="1" max="16" value="1" onchange="updateTextInput(this.value - 1, this.max);")

    section#slidesSide.box-shadow
        .slideshow.box-shadow
            input.slide-plus(type="button", value=">")
            input.slide-minus(type="button", value="<")
            each slide in slides
                .slide.box-shadow
                    h1= slide.Title
                    
                    if slide.MediaTypeID == 1
                        p= slide.Description
                        img(src=slide.Source)
                    else if slide.MediaTypeID == 2
                        p= slide.Description
                        iframe#video(src=slide.Source type="text/html" frameborder="0" allowfullscreen)
                    else if slide.MediaTypeID == 3
                        p= slide.Description
                        p= 'SOUND GO HERE'
                    else
                        p#slideText= slide.Description
            input.indexTracker(type="text")
            


