extends layout.pug

prepend styles
    link(rel="stylesheet", href="/styles/advancedSearch.css")

prepend scripts
    //-script(src="/scripts/FILENAME.js")

block content
    //-CONTENT-STARTS-HERE-//
    section#search
        h1.title Advanced Search:
        form(action="/search", method="get")
            div#params
                .param
                    label(for="name")
                        h3 Name
                    input#name(type="search", name="name", value=params.name)
                .param
                    label(for="place") 
                        h3 Place
                    input#place(type="search", name="place", value=params.place)
                .param
                    label(for="regNum") 
                        h3 Regimental Number
                    input#regNum(type="search", name="regNum", value=params.regNum)
                .param
                    label(for="battalion") 
                        h3 Battalion
                    input#battalion(type="search", name="battalion", value=params.battalion)
            input#search-btn(type="submit", value="search")
    section#results
        if listings.length!==0  
            table
                thead
                    th Regimental Number
                    th Name
                    th Address
                    th Battalion
                each result in listings
                    tr
                        td.regNumber= result.regNum
                        td.name
                            a(href= result.href)
                                p= result.name
                        td.address= result.place
                        td.battalion= result.battalion

   
    